@import url('./colors.css');

/* NotoSans */
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	display: grid;
	grid-template-rows: 1fr;
	/* BACKGROUND */
	background-color: #0d0d12;
	background-image: radial-gradient(rgba(187, 134, 252, 0.15) 1px, transparent 1px);
	background-size: 30px 30px;
	color: var(--light-color);

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
