.password-generated {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	gap: 20px;

	span {
		font-size: 2rem;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			height: 0.25rem;
		}

		&::-webkit-scrollbar-track {
			background-color: transparent;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--primary-color);
			border-radius: 8px;
		}
	}

	button {
		font-size: 2rem;
		line-height: 2rem;
	}
}
